.input {
  width: 100%;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid var(--input-border);
}

.input_container {
  position: relative;
  padding-bottom: 22px;
}

.input_container label {
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: var(--white);
  padding: 0 5px;
}

.input_error {
  width: 100%;
  color: var(--error-text);
  position: absolute;
  font-size: 12px;
}
